*{
    /*background-color: #7e6868; */
    text-align: center;

}
body{
    
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1, h3{
    font-family: Geneva, Verdana;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    margin: 0px auto 15px auto;
    width: 20%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

li:hover{
    background-color: pink;
}

p.bio{
    display: box;
    margin-left: auto;
    margin-right: auto; 
    min-width: 150px;
    max-width: 500px;  
    overflow: hidden;
}

p.bio:first-letter{
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

img.profile_picture{
    box-align: middle;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: -5px -5px #414141;
    margin-left: auto;
    margin-right: auto; 
}
